body{
    background-color: rgb(201, 210, 223);
}

    .main_panel{
        color: rgba(10,10,10,1);
        font-size: 100%;
        font-family: "Century Gothic", "Sans-serif", Sans Serif;

        height: 100%;
    }

        .nav{
            height: 10%;
            width: 92.5%;
            padding:2.5%;
            align-items: center;

            display: flex;
            position: absolute;
            top:10;
            left: 20;
            
            border-radius: 1em;
        }

            #opt{
                height: 90%;
                width: 5%;
                
                background-color: rgba(20,20,40,.5);
                border-radius: 5em;
                
                position: relative;
                transition: transform 250ms;
                top:0;  
            }

                #opt:hover{
                    transform: scale(1.25);
                }

            #nav{
                display: none;
                height: 100%;
                width: 92.5%;
            }

                #nav a{
                    padding:2% 5%;

                    text-align:center;
                    text-decoration: none;
                    font-size: 120%;
                    color: black;
  
                    margin-right:2.5%;
                }

                    #nav a:hover{
                        background-color: rgba(255,177,133,1);
                        box-shadow:0px 0px 5px 5px rgba(255,177,133,1);
                        border-radius: 5em;     
                        transition:linear 500ms;
                    }

                #dm{
                    margin-left: 55%;
                    transition: transform 125ms;
                }
                    #dm img{
                        height: 100%;
                    }
                    #dm:hover{
                        transform: scale(.8);
                    }

        .panel_board{
            padding: 15% 2.5%;
        }

            [class*="panel-"]{
                width: 27.5%;
                height: 30%;
                background-color: rgba(98,196,208,1);
                border-radius: 1em;

                float:left;
                margin: 0% 2.75% 2.75%;
            }
            
                [class*="panel-"] img:hover{
                    opacity:.125;                    
                    transition:linear 250ms;
                }

                .panel_img{
                    display:block;
                    max-height: 100%;
                    max-width: 100%;
                    position: relative;

                    border-radius: 1em;

                    object-fit: cover;
                    object-position: center;
                }

                .panel_text{
                    font-size: 150%;
                    position: Absolute;
                    padding:5% 12.5%;
                }