/*About panels*/
.panel_about{
    width: auto;
    height: 100%;
    display: flex;
    margin: 1.25% 0 10% 1.25% ;
    flex-wrap: wrap;
    flex-direction: row; 
}
    .about{
        background-color: rgba(47,47,54,.5);
        border-radius:2em;
        padding:2%;
    }

        .left{
            height:100%;
            width: 20%;
            margin:1.25% 2.5%;
        }

        .mid{
            height:100%;
            width: 20%;
            margin:1.25% 2.5%;
        }

        [class*="-right"]{
            height:47.5%;
            width: auto;
            margin-bottom:10%;
        }

        .abt_cont{
            width: 35%;
            height: 100%;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start 
            display: flex;
            margin: 1.25% 2.5%;
        }