/*About panels*/
.panel_about{
    width: auto;
    height: 100%;
    display: flex;
    margin: 1.25% 0 10% 1.25% ;
    flex-wrap: wrap;
    flex-direction: row; 
}
    .about{
        background-color: #2D2F36;
        border-radius:2em;
        padding:2%;
        position: relative;
        color: #eddfff;
    }
        .about p {
            margin:0;
        }

        .left{
            height:100%;
            width: 20%;
            margin:1.25% 2.5%;
        }

        .mid{
            height:100%;
            width: 20%;
            margin:1.25% 2.5%;
        }

        [class*="-right"]{
            height:42.5%;
            width: auto;
            margin-bottom:10%;
            padding:5% 6%;
        }

        .abt_cont{
            width: 35%;
            height: 100%;
            flex-wrap: wrap;
            flex-direction: column;
            margin: 1.25% 2.5%;
        }
            .panel_ttl{
                width: auto;
                font-size: 167.5%;
                padding:2.5%;
                font-weight:bold;
            }
            .panel_content{
                font-size: 150%;
                padding:2.5% 7.5%;
            }
            .panel_content ul{
                list-style-type: none; 
                margin: 0;
                padding:0 5%;
            }