body{
 font-family: "Lucida Console", "Lucida", cursive;
 background-color: rgba(191,174,93,.75);
}

/*class*/
        .main-container{
            position: absolute;
            top:10%;
            left:30%;
        height: 640px;
        width:50%;

        border:1px solid black;
        background-color: rgba(221,202,147);
    }

        .fields{
            margin: 20px 10px 5px 20px;
            padding: 10px;
            font-size: 18px;
            position: absolute;
        }

        [class*="input-"]{
            padding: 20px;
            position:relative;
            width: 85%;
        }

            .fields input, select{
                margin:5px;
                padding: 5px 10px;
                font-size:16px;
            }

                .fields input, select:active{ 
                    border: 2px solid black;
                }

                .input-2 {
                    height: 80px
                }
                    .input-2 p {
                        width: 20%;
                        margin:10px 0;
                    }

/*id*/
    #output{
        height: 240px;
        width: 360px;
        border: solid 1px black;
        border-radius: 3px;
        float: center;
        margin: auto;
        text-align: justify;
        background-color: rgba(254,248,191);
        padding:10px 30px;
        font-size:18px;
        display: none;
    }   
            #ln, #age, #gen{
                width:30%;
            }
            #fn{
                width: 50%;
            }
            #mn{
                width:10%;
            }

            #left, #right{      
                position:absolute;
                width:50%;
            }
            
            #left{      
                left:3.25%;
            }

            #right{
                left:50%;
            }

            #email{
                width: 83.5%;
            }

            #btn{
                position: absolute; 
                top: 107.5%;
                left:37.5%;

                width: 20%;
                height: 10%;
                font:inherit;
            }
